@page
@model IndexModel
@{
    ViewData["Title"] = "Clicker";
}

@* Inside <header id='header-parent'>*@
@section Header
{
    <div class="col">
        <p> Hello </p>
    </div>
}
@* </header> *@

<div id="left-container" class="col-4 h-100">
    <div id="left-container-controls" class="container-fluid">
        <ul class="d-flex justify-content-start align-items-end">
            <li class="list-group-item rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-plus-circle"></i></div></li>
            <li class="list-group-item mr-auto rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-minus-circle"></i></div></li>
            <li class="list-group-item rounded-0"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-star"></i></div></li>
        </ul>
    </div>
    <div id="left-container-list" class="container-fluid">
        <div class="list-group" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
    </div>
</div>

<div id="right-container" class="col h-100">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-none" role="tabpanel" aria-labelledby="list-home-list">Click any list item to view its configuration</div>
        <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1...</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">2...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">3...</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">4...</div>
    </div>
</div>